* {
  margin: 0%;
  padding: 0%;
  font-family: "Inter", sans-serif;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background-color: #192140;
}
nav .navbar-brand {
  color: #dcf10d;
  font-weight: 700;
  font-size: 24px;
}
nav .navbar-brand:hover {
  color: #dcf10d;
}
nav .navbar-nav .nav-link.blog {
  color: #dcf10d;
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
}
nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
nav .navbar-toggler {
  border-color: #dcf10d;
}
nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28220, 241, 13, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
nav .nav-item .nav-link.sign {
  font-weight: 700;
  color: #9d9db5;
}
nav .nav-item .nav-link.log {
  color: #0266ff;
  border: solid 1px #0266ff;
  border-radius: 50px;
  padding: 10px;
}

main {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 60px;
  display: grid;
  gap: 40px;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 350px 350px 350px;
}

.myCard-cont {
  background-color: #f8f9fc;
  border-radius: 6px;
}
.myCard-cont .circle-x {
  visibility: hidden;
  color: #9d9db5;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
.myCard-cont .circle-check {
  color: #192140;
  visibility: hidden;
}
.myCard-cont .myCard {
  width: 320px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
}
.myCard-cont .shadow1 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 30%;
     object-position: 0 30%;
  height: 65%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .shadow2 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 40%;
     object-position: 0 40%;
  height: 76%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .shadow3 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 0%;
     object-position: 0 0%;
  height: 65%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .shadow4 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 1%;
     object-position: 0 1%;
  height: 65%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .shadow5 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 5%;
     object-position: 0 5%;
  height: 76%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .shadow6 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 5%;
     object-position: 0 5%;
  height: 76%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .shadow7 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 5%;
     object-position: 0 5%;
  height: 90%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .shadow8 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 1%;
     object-position: 0 1%;
  height: 66%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .shadow9 {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
  -o-object-position: 0 5%;
     object-position: 0 5%;
  height: 76%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card1 {
  -o-object-position: 0 30%;
     object-position: 0 30%;
  height: 65%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card2 {
  -o-object-position: 0 40%;
     object-position: 0 40%;
  height: 76%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card3 {
  -o-object-position: 0 0%;
     object-position: 0 0%;
  height: 65%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card4 {
  -o-object-position: 0 1%;
     object-position: 0 1%;
  height: 65%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card5 {
  -o-object-position: 0 5%;
     object-position: 0 5%;
  height: 76%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card6 {
  -o-object-position: 0 5%;
     object-position: 0 5%;
  height: 76%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card7 {
  -o-object-position: 0 5%;
     object-position: 0 5%;
  height: 90%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card8 {
  -o-object-position: 0 1%;
     object-position: 0 1%;
  height: 66%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .img-card9 {
  -o-object-position: 0 5%;
     object-position: 0 5%;
  height: 76%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myCard-cont .card-content {
  color: #10131c;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
}
.myCard-cont .card-content p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #10131c;
  margin-bottom: 0;
}
.myCard-cont .card-content hr {
  margin: 0;
}
.myCard-cont .card-footer {
  display: flex;
  justify-content: space-between;
}
.myCard-cont .card-footer .date {
  color: #9d9db5;
  border: solid 1px;
  border-radius: 50px;
  padding: 2px 7px;
  font-size: 12px;
}
.myCard-cont .card-footer .heart {
  color: #9d9db5;
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 274px;
  background-color: #10131c;
  padding: 60px 60px;
}
footer .section-blog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #d7f8ff;
}
footer .section-blog p {
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
}
footer .section-blog ul {
  display: flex;
  gap: 20px;
  padding-left: 0;
  font-size: 12px;
  line-height: 130%;
  font-weight: 400;
  color: #d7f8ff;
}
footer .follow-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .follow-us .socmed-links p {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
footer .follow-us .socmed-links ul {
  display: flex;
  gap: 20px;
  padding-left: 0;
}
footer .socmed {
  height: 30px;
  width: 30px;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  background-color: #192140;
  color: #ffffff;
}

.footer-privacy ul {
  float: right;
  display: flex;
  gap: 10px;
  padding-top: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.4;
}

.like {
  color: #0266ff;
}

.heart:hover {
  cursor: pointer;
}

.circle-check:hover {
  cursor: pointer;
}

.circle-x:hover {
  cursor: pointer;
}

.myCard-cont:hover .circle-check {
  visibility: visible;
}

.myCard-cont:hover .circle-x {
  visibility: visible;
}

.myCard-cont:hover .shadow1 {
  visibility: visible;
}
.myCard-cont:hover .shadow2 {
  visibility: visible;
}
.myCard-cont:hover .shadow3 {
  visibility: visible;
}
.myCard-cont:hover .shadow4 {
  visibility: visible;
}
.myCard-cont:hover .shadow5 {
  visibility: visible;
}
.myCard-cont:hover .shadow6 {
  visibility: visible;
}
.myCard-cont:hover .shadow7 {
  visibility: visible;
}
.myCard-cont:hover .shadow8 {
  visibility: visible;
}
.myCard-cont:hover .shadow9 {
  visibility: visible;
}

@media only screen and (max-width: 1100px) {
  main {
    display: grid;
    gap: 40px;
    grid-template-columns: 320px 320px;
    grid-template-rows: 350px 350px 350px 350px 350px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    gap: 40px;
  }
  .follow-us {
    gap: 10px;
  }
  .footer-privacy ul {
    float: left;
    padding-left: 0;
  }
}
@media only screen and (max-width: 760px) {
  main {
    display: grid;
    gap: 40px;
    padding-top: 50px;
    grid-template-columns: 320px;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 350px 350px 350px;
  }
  footer {
    padding: 40px 30px;
  }
  .footer-blog ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (max-width: 370px) {
  main {
    padding-top: 50px;
  }
  .socmed-links ul {
    gap: 10px;
  }
  footer {
    padding-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */