@mixin card-img($img-height: 0%, $img-position: 0 0%) {
  object-position: $img-position;
  height: $img-height;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  object-fit: cover;
}
