@mixin card-img($img-height: 0%, $img-position: 0 0%) {
  object-position: $img-position;
  height: $img-height;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  object-fit: cover;
}

@mixin shadow() {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  background: linear-gradient(180deg, #192140 0%, rgba(25, 33, 64, 0) 70.8%);
  z-index: 0;
}
