// font formats
$main-font: "Inter", sans-serif;
$font-size1: 12px;
$font-size2: 15px;
$font-size3: 16px;
$font-size4: 20px;
$font-size4: 24px;
$font-weight1: 100;
$font-weight2: 200;
$font-weight3: 300;
$font-weight4: 400;
$font-weight5: 500;
$font-weight6: 600;
$font-weight7: 700;
$font-weight8: 800;
$font-weight9: 900;

// colors
$color-1: #192140;
$color-2: #10131c;
$color-3: #f8f9fc;
$color-4: #dcf10d;
$color-5: #ffffff;
$color-6: #9d9db5;
$color-7: #0266ff;
$color-8: #10131c;
$color-9: #d7f8ff;
