@use "mixins";
@use "variables";

* {
  margin: 0%;
  padding: 0%;
  font-family: variables.$main-font;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background-color: variables.$color-1;
  .navbar-brand {
    color: variables.$color-4;
    font-weight: variables.$font-weight7;
    font-size: variables.$font-size4;
  }
  .navbar-brand:hover {
    color: variables.$color-4;
  }
  .navbar-nav .nav-link.blog {
    color: variables.$color-4;
    text-decoration: underline;
    font-weight: variables.$font-weight5;
    font-size: variables.$font-size3;
  }
  .nav-item .nav-link {
    color: variables.$color-5;
    font-weight: variables.$font-weight5;
    font-size: variables.$font-size3;
  }
  .navbar-toggler {
    border-color: variables.$color-4;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28220, 241, 13, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .nav-item .nav-link.sign {
    font-weight: variables.$font-weight7;
    color: variables.$color-6;
  }
  .nav-item .nav-link.log {
    color: variables.$color-7;
    border: solid 1px variables.$color-7;
    border-radius: 50px;
    padding: 10px;
  }
}

main {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 60px;
  display: grid;
  gap: 40px;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 350px 350px 350px;
}

.myCard-cont {
  background-color: variables.$color-3;
  border-radius: 6px;
  .circle-x {
    visibility: hidden;
    color: variables.$color-6;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
  .circle-check {
    color: variables.$color-1;
    visibility: hidden;
  }
  .myCard {
    width: 320px;
    height: 250px;
    border-radius: 8px;
    position: absolute;
  }
  .shadow1 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 65%, $img-position: 0 30%);
  }
  .shadow2 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 76%, $img-position: 0 40%);
  }
  .shadow3 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 65%);
  }
  .shadow4 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 65%, $img-position: 0 1%);
  }
  .shadow5 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 76%, $img-position: 0 5%);
  }
  .shadow6 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 76%, $img-position: 0 5%);
  }
  .shadow7 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 90%, $img-position: 0 5%);
  }
  .shadow8 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 66%, $img-position: 0 1%);
  }
  .shadow9 {
    @include mixins.shadow();
    @include mixins.card-img($img-height: 76%, $img-position: 0 5%);
  }
  .img-card1 {
    @include mixins.card-img($img-height: 65%, $img-position: 0 30%);
  }
  .img-card2 {
    @include mixins.card-img($img-height: 76%, $img-position: 0 40%);
  }
  .img-card3 {
    @include mixins.card-img($img-height: 65%);
  }
  .img-card4 {
    @include mixins.card-img($img-height: 65%, $img-position: 0 1%);
  }
  .img-card5 {
    @include mixins.card-img($img-height: 76%, $img-position: 0 5%);
  }
  .img-card6 {
    @include mixins.card-img($img-height: 76%, $img-position: 0 5%);
  }
  .img-card7 {
    @include mixins.card-img($img-height: 90%, $img-position: 0 5%);
  }
  .img-card8 {
    @include mixins.card-img($img-height: 66%, $img-position: 0 1%);
  }
  .img-card9 {
    @include mixins.card-img($img-height: 76%, $img-position: 0 5%);
  }
  .card-content {
    color: variables.$color-2;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      color: variables.$color-2;
      margin-bottom: 0;
    }
    hr {
      margin: 0;
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    .date {
      color: variables.$color-6;
      border: solid 1px;
      border-radius: 50px;
      padding: 2px 7px;
      font-size: 12px;
    }
    .heart {
      color: variables.$color-6;
      font-size: 15px;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 274px;
  background-color: variables.$color-2;
  padding: 60px 60px;
  .section-blog {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: variables.$color-9;
    p {
      font-weight: variables.$font-weight7;
      color: variables.$color-5;
      font-size: 16px;
    }
    ul {
      display: flex;
      gap: 20px;
      padding-left: 0;
      font-size: 12px;
      line-height: 130%;
      font-weight: variables.$font-weight4;
      color: variables.$color-9;
    }
  }
  .follow-us {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .socmed-links {
      p {
        font-size: 12px;
        font-weight: variables.$font-weight4;
        color: variables.$color-5;
      }
      ul {
        display: flex;
        gap: 20px;
        padding-left: 0;
      }
    }
  }
  .socmed {
    height: 30px;
    width: 30px;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    background-color: variables.$color-1;
    color: variables.$color-5;
  }
}

.footer-privacy ul {
  float: right;
  display: flex;
  gap: 10px;
  padding-top: 20px;
  font-size: 12px;
  font-weight: 400;
  color: variables.$color-5;
  opacity: 0.4;
}

.like {
  color: variables.$color-7;
}

.heart:hover {
  cursor: pointer;
}

.circle-check:hover {
  cursor: pointer;
}

.circle-x:hover {
  cursor: pointer;
}

.myCard-cont:hover .circle-check {
  visibility: visible;
}

.myCard-cont:hover .circle-x {
  visibility: visible;
}

.myCard-cont:hover {
  .shadow1 {
    visibility: visible;
  }
  .shadow2 {
    visibility: visible;
  }
  .shadow3 {
    visibility: visible;
  }
  .shadow4 {
    visibility: visible;
  }
  .shadow5 {
    visibility: visible;
  }
  .shadow6 {
    visibility: visible;
  }
  .shadow7 {
    visibility: visible;
  }
  .shadow8 {
    visibility: visible;
  }
  .shadow9 {
    visibility: visible;
  }
}

@media only screen and (max-width: 1100px) {
  main {
    display: grid;
    gap: 40px;
    grid-template-columns: 320px 320px;
    grid-template-rows: 350px 350px 350px 350px 350px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    gap: 40px;
  }

  .follow-us {
    gap: 10px;
  }

  .footer-privacy ul {
    float: left;
    padding-left: 0;
  }
}

@media only screen and (max-width: 760px) {
  main {
    display: grid;
    gap: 40px;
    padding-top: 50px;
    grid-template-columns: 320px;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 350px 350px 350px;
  }
  footer {
    padding: 40px 30px;
  }
  .footer-blog ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (max-width: 370px) {
  main {
    padding-top: 50px;
  }
  .socmed-links ul {
    gap: 10px;
  }
  footer {
    padding-left: 10px;
  }
}
